# Node and NPM/Yarn dependencies
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Docker e dados de contêiner
docker-compose.override.yml
docker-compose.override.yaml
docker-compose.local.yml
docker-compose.local.yaml
*.log
*.pid
*.bak
*.swp
*.tmp
*.sql
*.sqlite
.env
.env.*
.env.local
.env.development.local
.env.test.local
.env.production.local
db_data/
.docker/
.dockerignore

# Arquivos gerados pelo WordPress
-wordpress/wp-content/uploads/
-wordpress/wp-content/upgrade/
-wordpress/wp-content/cache/
-wordpress/wp-content/mu-plugins/
-wordpress/wp-content/ai1wm-backups/
-wordpress/.htaccess
-wordpress/debug.log
-wordpress/wp-content/debug.log

# Logs de sistema
logs/
*.log

# Editor de código e IDEs
.idea/
.vscode/
*.sublime-project
*.sublime-workspace
.vimrc

# Backups e arquivos temporários
*.bak
*.swp
*.tmp
*.sql
*.sqlite
.eslintcache
.prettierignore

# Arquivos de sistema do macOS
.DS_Store
.AppleDouble
.LSOverride

# Arquivos de sistema do Windows
Thumbs.db
ehthumbs.db
Desktop.ini

# Configurações de Python
__pycache__/
.pytest_cache/
